/Webtools/Assignment2/Assignment2Solution/Assignment2Part5/build/
/Webtools/Assignment2/Assignment2Solution/Assignment2Part5/nbproject/private/
/Webtools/Assignment2/Assignment2Solution/Assignment2Part7/build/
/Webtools/Assignment2/Assignment2Solution/Assignment2Part7/dist/
/Webtools/Assignment2/Assignment2Solution/Assignment2Part7/nbproject/private/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part5/build/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part5/nbproject/private/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part6/build/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part6/nbproject/private/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part7/build/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part7/dist/
/wordpress/Webtools/Assignment2/Assignment2Solution/Assignment2Part7/nbproject/private/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part5/build/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part5/nbproject/private/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part6/build/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part6/nbproject/private/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part7/build/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part7/dist/
/wordpress/Webtools/Assignment2/Neerajsing_Rajput_Assignment2/Assignment2Part7/nbproject/private/
/wordpress/Webtools/Lab/Lab3/Lab3/build/
/wordpress/Webtools/Lab/Lab3/Lab3/dist/
/wordpress/Webtools/Lab/Lab3/Lab3/nbproject/private/